/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 févr. 2023, 11:37:09
    Author     : Utilisateur
*/

#form_alcoolemie {
    display: block;
    text-align: center; 
    align-items: center;
}
fieldset {
    border : none;
}
fieldset #sexe {
    border : solid;
    width :25%;
}